/* vim: set sw=4 :*/
body {
    background-color: inherit;
}
a {
    color: inherit;
}

/* Chrome prints footers by default, and this itty bitty margin
can get pushed onto the 2nd page, thus printing a content-free 2nd page. */
.education ul {
    margin-bottom: 0;
}

.workExperienceTitle .updated {
  display: initial;
  font-size: small;
}

.workExperienceTitle .updated::before {
    content: "(";
}
.workExperienceTitle .updated::after {
    content: ")";
}

dfn.exp {
    border-bottom: 0;
}

html {
    padding: 0;
}
