/* vim: set sw=4 :*/
body {
    background-color: inherit;
}
a {
    color: inherit;
}

/* Chrome prints footers by default, and this itty bitty margin
gets pushed onto the 2nd page, thus printing a content-free 2nd
page. */
.education ul {
    margin-bottom: 0;
}

.workExperienceTitle .updated {
  display: initial;
  font-style: italic;
}

.workExperienceTitle .updated::before {
    content: "(";
}
.workExperienceTitle .updated::after {
    content: ")";
}

dfn {
    border-bottom: 0;
}
