body {
    position: relative;
    font-size: 11pt;
    max-width: 85ex;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(170, 8%, 96%); /* "newspaper" */
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact {
    position: absolute;
    right: 0; top: 0;
    text-align: right;
}

.contact li {
    list-style-type: none;
}

h1 {
    position: relative;
    left: -20px;
    font-size: 3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    margin-bottom: .5ex;
    letter-spacing: 0.05em;
}

h2 {
    position: relative;
    left: -0.5em;
    margin: 0.3em 0;
}

dfn {
    font-style: normal;
    border-bottom: 1px #999 dashed;
}

dfn:hover {
    background-color: hsl(170, 9%, 90%);
}

.workExperience li + li {
    padding-top: 0.6%;
}

.workExperienceTitle h2 {
  display: inline-block;
}

.workExperienceTitle .updated {
  display: none;
}


/*
 * Work Experience Block
 */
.workExp {
    position: relative;
    padding-bottom: 2.2em;
}

.workExp .location,
.workExp .role,
.workExp .dates {
    position: absolute;
    font-style: italic;
}
.workExp .employer,
.workExp .role {
    left: 0;
}

.workExp .location,
.workExp .dates {
    text-align: right;
    right: 0;
}

.workExp .role,
.workExp .dates {
    top: .95em;
}

.workExp .employer {
    position: absolute;
    font-weight: bold;
}

ul {
    margin-top: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

li table {
    margin-left: 2.5em;
}

td + td {
    padding-left: 4.5em;
}

td {
    padding: 0em;
}
