/* Some global style/reset */
html {
  padding-top: 3em;
}
body {
  position: relative;
  font-size: 11pt;
  max-width: 85ex;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(170, 8%, 96%); /* "newspaper" */
  margin-bottom: 0;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0;
}

/* header styling */
header {
  position: relative;
  margin-bottom: 2px;
}

h1 {
  position: relative;
  left: -20px;
  font-size: 2.5em;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  letter-spacing: 0.05em;
}

.contact {
  position: absolute;
  right: 0; bottom: 0;
  text-align: right;
}
.contact-list {
  margin: 0;
}

.contact li {
  list-style-type: none;
}

/* top-level styling */
h2 {
  position: relative;
  left: -0.5em;
  margin: 0.3em 0;
}

/* experience */
dfn.exp {
  font-style: normal;
  border-bottom: 1px #999 dashed;
}

dfn.exp:hover {
  background-color: hsl(170, 9%, 90%);
}

.workExperience li + li {
  padding-top: 0.6%;
}

.workExperienceTitle h2 {
  display: inline-block;
}

.workExperienceTitle .updated {
  display: none;
}


/* work experience blocks */
.workExp {
  position: relative;
  padding-bottom: 2.3em;
}

.workExp .location,
.workExp .employer,
.workExp .dates {
  position: absolute;
  font-style: italic;
}
.workExp .role,
.workExp .employer {
  left: 0;
}

.workExp .location,
.workExp .dates {
  text-align: right;
  right: 0;
}

.workExp .employer,
.workExp .dates {
  top: 1em;
}

.workExp .role {
  position: absolute;
  font-weight: bold;
}

ul + .workExp {
  margin-top: 0.4em;
}
table {
  margin-left: auto;
  margin-right: auto;
}

li table {
  margin-left: 2.5em;
}

td + td {
  padding-left: 4.5em;
}

td {
  padding: 0em;
}

ol.education {
    list-style: none;
    padding-left: 1em;
}
